extends layout
block sameer
          .col-sm-9.padding-right
            .features_items
              // features_items
              h2.title.text-center Features Items
              .col-sm-4
                .product-image-wrapper
                  .single-products
                    .productinfo.text-center
                      img(src='/public/images/home/product1.jpg', alt='')
                      h2 $56
                      p Easy Polo Black Edition
                      a.btn.btn-default.add-to-cart(href='#')
                        i.fa.fa-shopping-cart
                        | Add to cart
                    .product-overlay
                      .overlay-content
                        h2 $56
                        p Easy Polo Black Edition
                        a.btn.btn-default.add-to-cart(href='#')
                          i.fa.fa-shopping-cart
                          | Add to cart
                  .choose
                    ul.nav.nav-pills.nav-justified
                      li
                        a(href='#')
                          i.fa.fa-plus-square
                          | Add to wishlist
                      li
                        a(href='#')
                          i.fa.fa-plus-square
                          | Add to compare
              .col-sm-4
                .product-image-wrapper
                  .single-products
                    .productinfo.text-center
                      img(src='/public/images/home/product2.jpg', alt='')
                      h2 $56
                      p Easy Polo Black Edition
                      a.btn.btn-default.add-to-cart(href='#')
                        i.fa.fa-shopping-cart
                        | Add to cart
                    .product-overlay
                      .overlay-content
                        h2 $56
                        p Easy Polo Black Edition
                        a.btn.btn-default.add-to-cart(href='#')
                          i.fa.fa-shopping-cart
                          | Add to cart
                  .choose
                    ul.nav.nav-pills.nav-justified
                      li
                        a(href='#')
                          i.fa.fa-plus-square
                          | Add to wishlist
                      li
                        a(href='#')
                          i.fa.fa-plus-square
                          | Add to compare
              .col-sm-4
                .product-image-wrapper
                  .single-products
                    .productinfo.text-center
                      img(src='/public/images/home/product3.jpg', alt='')
                      h2 $56
                      p Easy Polo Black Edition
                      a.btn.btn-default.add-to-cart(href='#')
                        i.fa.fa-shopping-cart
                        | Add to cart
                    .product-overlay
                      .overlay-content
                        h2 $56
                        p Easy Polo Black Edition
                        a.btn.btn-default.add-to-cart(href='#')
                          i.fa.fa-shopping-cart
                          | Add to cart
                  .choose
                    ul.nav.nav-pills.nav-justified
                      li
                        a(href='#')
                          i.fa.fa-plus-square
                          | Add to wishlist
                      li
                        a(href='#')
                          i.fa.fa-plus-square
                          | Add to compare
              .col-sm-4
                .product-image-wrapper
                  .single-products
                    .productinfo.text-center
                      img(src='/public/images/home/product4.jpg', alt='')
                      h2 $56
                      p Easy Polo Black Edition
                      a.btn.btn-default.add-to-cart(href='#')
                        i.fa.fa-shopping-cart
                        | Add to cart
                    .product-overlay
                      .overlay-content
                        h2 $56
                        p Easy Polo Black Edition
                        a.btn.btn-default.add-to-cart(href='#')
                          i.fa.fa-shopping-cart
                          | Add to cart
                    img.new(src='/public/images/home/new.png', alt='')
                  .choose
                    ul.nav.nav-pills.nav-justified
                      li
                        a(href='#')
                          i.fa.fa-plus-square
                          | Add to wishlist
                      li
                        a(href='#')
                          i.fa.fa-plus-square
                          | Add to compare
              .col-sm-4
                .product-image-wrapper
                  .single-products
                    .productinfo.text-center
                      img(src='/public/images/home/product5.jpg', alt='')
                      h2 $56
                      p Easy Polo Black Edition
                      a.btn.btn-default.add-to-cart(href='#')
                        i.fa.fa-shopping-cart
                        | Add to cart
                    .product-overlay
                      .overlay-content
                        h2 $56
                        p Easy Polo Black Edition
                        a.btn.btn-default.add-to-cart(href='#')
                          i.fa.fa-shopping-cart
                          | Add to cart
                    img.new(src='/public/images/home/sale.png', alt='')
                  .choose
                    ul.nav.nav-pills.nav-justified
                      li
                        a(href='#')
                          i.fa.fa-plus-square
                          | Add to wishlist
                      li
                        a(href='#')
                          i.fa.fa-plus-square
                          | Add to compare
              .col-sm-4
                .product-image-wrapper
                  .single-products
                    .productinfo.text-center
                      img(src='/public/images/home/product6.jpg', alt='')
                      h2 $56
                      p Easy Polo Black Edition
                      a.btn.btn-default.add-to-cart(href='#')
                        i.fa.fa-shopping-cart
                        | Add to cart
                    .product-overlay
                      .overlay-content
                        h2 $56
                        p Easy Polo Black Edition
                        a.btn.btn-default.add-to-cart(href='#')
                          i.fa.fa-shopping-cart
                          | Add to cart
                  .choose
                    ul.nav.nav-pills.nav-justified
                      li
                        a(href='#')
                          i.fa.fa-plus-square
                          | Add to wishlist
                      li
                        a(href='#')
                          i.fa.fa-plus-square
                          | Add to compare
            // features_items
            .category-tab
              // category-tab
              .col-sm-12
                ul.nav.nav-tabs
                  li.active
                    a(href='#tshirt', data-toggle='tab') T-Shirt
                  li
                    a(href='#blazers', data-toggle='tab') Blazers
                  li
                    a(href='#sunglass', data-toggle='tab') Sunglass
                  li
                    a(href='#kids', data-toggle='tab') Kids
                  li
                    a(href='#poloshirt', data-toggle='tab') Polo shirt
              .tab-content
                #tshirt.tab-pane.fade.active.in
                  .col-sm-3
                    .product-image-wrapper
                      .single-products
                        .productinfo.text-center
                          img(src='/public/images/home/gallery1.jpg', alt='')
                          h2 $56
                          p Easy Polo Black Edition
                          a.btn.btn-default.add-to-cart(href='#')
                            i.fa.fa-shopping-cart
                            | Add to cart
                  .col-sm-3
                    .product-image-wrapper
                      .single-products
                        .productinfo.text-center
                          img(src='/public/images/home/gallery2.jpg', alt='')
                          h2 $56
                          p Easy Polo Black Edition
                          a.btn.btn-default.add-to-cart(href='#')
                            i.fa.fa-shopping-cart
                            | Add to cart
                  .col-sm-3
                    .product-image-wrapper
                      .single-products
                        .productinfo.text-center
                          img(src='/public/images/home/gallery3.jpg', alt='')
                          h2 $56
                          p Easy Polo Black Edition
                          a.btn.btn-default.add-to-cart(href='#')
                            i.fa.fa-shopping-cart
                            | Add to cart
                  .col-sm-3
                    .product-image-wrapper
                      .single-products
                        .productinfo.text-center
                          img(src='/public/images/home/gallery4.jpg', alt='')
                          h2 $56
                          p Easy Polo Black Edition
                          a.btn.btn-default.add-to-cart(href='#')
                            i.fa.fa-shopping-cart
                            | Add to cart
                #blazers.tab-pane.fade
                  .col-sm-3
                    .product-image-wrapper
                      .single-products
                        .productinfo.text-center
                          img(src='/public/images/home/gallery4.jpg', alt='')
                          h2 $56
                          p Easy Polo Black Edition
                          a.btn.btn-default.add-to-cart(href='#')
                            i.fa.fa-shopping-cart
                            | Add to cart
                  .col-sm-3
                    .product-image-wrapper
                      .single-products
                        .productinfo.text-center
                          img(src='/public/images/home/gallery3.jpg', alt='')
                          h2 $56
                          p Easy Polo Black Edition
                          a.btn.btn-default.add-to-cart(href='#')
                            i.fa.fa-shopping-cart
                            | Add to cart
                  .col-sm-3
                    .product-image-wrapper
                      .single-products
                        .productinfo.text-center
                          img(src='/public/images/home/gallery2.jpg', alt='')
                          h2 $56
                          p Easy Polo Black Edition
                          a.btn.btn-default.add-to-cart(href='#')
                            i.fa.fa-shopping-cart
                            | Add to cart
                  .col-sm-3
                    .product-image-wrapper
                      .single-products
                        .productinfo.text-center
                          img(src='/public/images/home/gallery1.jpg', alt='')
                          h2 $56
                          p Easy Polo Black Edition
                          a.btn.btn-default.add-to-cart(href='#')
                            i.fa.fa-shopping-cart
                            | Add to cart
                #sunglass.tab-pane.fade
                  .col-sm-3
                    .product-image-wrapper
                      .single-products
                        .productinfo.text-center
                          img(src='/public/images/home/gallery3.jpg', alt='')
                          h2 $56
                          p Easy Polo Black Edition
                          a.btn.btn-default.add-to-cart(href='#')
                            i.fa.fa-shopping-cart
                            | Add to cart
                  .col-sm-3
                    .product-image-wrapper
                      .single-products
                        .productinfo.text-center
                          img(src='/public/images/home/gallery4.jpg', alt='')
                          h2 $56
                          p Easy Polo Black Edition
                          a.btn.btn-default.add-to-cart(href='#')
                            i.fa.fa-shopping-cart
                            | Add to cart
                  .col-sm-3
                    .product-image-wrapper
                      .single-products
                        .productinfo.text-center
                          img(src='/public/images/home/gallery1.jpg', alt='')
                          h2 $56
                          p Easy Polo Black Edition
                          a.btn.btn-default.add-to-cart(href='#')
                            i.fa.fa-shopping-cart
                            | Add to cart
                  .col-sm-3
                    .product-image-wrapper
                      .single-products
                        .productinfo.text-center
                          img(src='/public/images/home/gallery2.jpg', alt='')
                          h2 $56
                          p Easy Polo Black Edition
                          a.btn.btn-default.add-to-cart(href='#')
                            i.fa.fa-shopping-cart
                            | Add to cart
                #kids.tab-pane.fade
                  .col-sm-3
                    .product-image-wrapper
                      .single-products
                        .productinfo.text-center
                          img(src='/public/images/home/gallery1.jpg', alt='')
                          h2 $56
                          p Easy Polo Black Edition
                          a.btn.btn-default.add-to-cart(href='#')
                            i.fa.fa-shopping-cart
                            | Add to cart
                  .col-sm-3
                    .product-image-wrapper
                      .single-products
                        .productinfo.text-center
                          img(src='/public/images/home/gallery2.jpg', alt='')
                          h2 $56
                          p Easy Polo Black Edition
                          a.btn.btn-default.add-to-cart(href='#')
                            i.fa.fa-shopping-cart
                            | Add to cart
                  .col-sm-3
                    .product-image-wrapper
                      .single-products
                        .productinfo.text-center
                          img(src='/public/images/home/gallery3.jpg', alt='')
                          h2 $56
                          p Easy Polo Black Edition
                          a.btn.btn-default.add-to-cart(href='#')
                            i.fa.fa-shopping-cart
                            | Add to cart
                  .col-sm-3
                    .product-image-wrapper
                      .single-products
                        .productinfo.text-center
                          img(src='/public/images/home/gallery4.jpg', alt='')
                          h2 $56
                          p Easy Polo Black Edition
                          a.btn.btn-default.add-to-cart(href='#')
                            i.fa.fa-shopping-cart
                            | Add to cart
                #poloshirt.tab-pane.fade
                  .col-sm-3
                    .product-image-wrapper
                      .single-products
                        .productinfo.text-center
                          img(src='/public/images/home/gallery2.jpg', alt='')
                          h2 $56
                          p Easy Polo Black Edition
                          a.btn.btn-default.add-to-cart(href='#')
                            i.fa.fa-shopping-cart
                            | Add to cart
                  .col-sm-3
                    .product-image-wrapper
                      .single-products
                        .productinfo.text-center
                          img(src='/public/images/home/gallery4.jpg', alt='')
                          h2 $56
                          p Easy Polo Black Edition
                          a.btn.btn-default.add-to-cart(href='#')
                            i.fa.fa-shopping-cart
                            | Add to cart
                  .col-sm-3
                    .product-image-wrapper
                      .single-products
                        .productinfo.text-center
                          img(src='/public/images/home/gallery3.jpg', alt='')
                          h2 $56
                          p Easy Polo Black Edition
                          a.btn.btn-default.add-to-cart(href='#')
                            i.fa.fa-shopping-cart
                            | Add to cart
                  .col-sm-3
                    .product-image-wrapper
                      .single-products
                        .productinfo.text-center
                          img(src='/public/images/home/gallery1.jpg', alt='')
                          h2 $56
                          p Easy Polo Black Edition
                          a.btn.btn-default.add-to-cart(href='#')
                            i.fa.fa-shopping-cart
                            | Add to cart
            // /category-tab
            .recommended_items
              // recommended_items
              h2.title.text-center recommended items
              #recommended-item-carousel.carousel.slide(data-ride='carousel')
                .carousel-inner
                  .item.active
                    .col-sm-4
                      .product-image-wrapper
                        .single-products
                          .productinfo.text-center
                            img(src='/public/images/home/recommend1.jpg', alt='')
                            h2 $56
                            p Easy Polo Black Edition
                            a.btn.btn-default.add-to-cart(href='#')
                              i.fa.fa-shopping-cart
                              | Add to cart
                    .col-sm-4
                      .product-image-wrapper
                        .single-products
                          .productinfo.text-center
                            img(src='/public/images/home/recommend2.jpg', alt='')
                            h2 $56
                            p Easy Polo Black Edition
                            a.btn.btn-default.add-to-cart(href='#')
                              i.fa.fa-shopping-cart
                              | Add to cart
                    .col-sm-4
                      .product-image-wrapper
                        .single-products
                          .productinfo.text-center
                            img(src='/public/images/home/recommend3.jpg', alt='')
                            h2 $56
                            p Easy Polo Black Edition
                            a.btn.btn-default.add-to-cart(href='#')
                              i.fa.fa-shopping-cart
                              | Add to cart
                  .item
                    .col-sm-4
                      .product-image-wrapper
                        .single-products
                          .productinfo.text-center
                            img(src='/public/images/home/recommend1.jpg', alt='')
                            h2 $56
                            p Easy Polo Black Edition
                            a.btn.btn-default.add-to-cart(href='#')
                              i.fa.fa-shopping-cart
                              | Add to cart
                    .col-sm-4
                      .product-image-wrapper
                        .single-products
                          .productinfo.text-center
                            img(src='/public/images/home/recommend2.jpg', alt='')
                            h2 $56
                            p Easy Polo Black Edition
                            a.btn.btn-default.add-to-cart(href='#')
                              i.fa.fa-shopping-cart
                              | Add to cart
                    .col-sm-4
                      .product-image-wrapper
                        .single-products
                          .productinfo.text-center
                            img(src='/public/images/home/recommend3.jpg', alt='')
                            h2 $56
                            p Easy Polo Black Edition
                            a.btn.btn-default.add-to-cart(href='#')
                              i.fa.fa-shopping-cart
                              | Add to cart
                a.left.recommended-item-control(href='#recommended-item-carousel', data-slide='prev')
                  i.fa.fa-angle-left
                a.right.recommended-item-control(href='#recommended-item-carousel', data-slide='next')
                  i.fa.fa-angle-right
            // /recommended_items
    