#sportswear.panel-collapse.collapse
                    .panel-body
                      ul
                        li
                          a(href='#') Nike 
                        li
                          a(href='#') Under Armour 
                        li
                          a(href='#') Adidas 
                        li
                          a(href='#') Puma
                        li
                          a(href='#') ASICS 
                .panel.panel-default
                  .panel-heading
                    h4.panel-title
                      a(data-toggle='collapse', data-parent='#accordian', href='#mens')
                        span.badge.pull-right
                          i.fa.fa-plus
                        | 											Mens
                  #mens.panel-collapse.collapse
                    .panel-body
                      ul
                        li
                          a(href='#') Fendi
                        li
                          a(href='#') Guess
                        li
                          a(href='#') Valentino
                        li
                          a(href='#') Dior
                        li
                          a(href='#') Versace
                        li
                          a(href='#') Armani
                        li
                          a(href='#') Prada
                        li
                          a(href='#') Dolce and Gabbana
                        li
                          a(href='#') Chanel
                        li
                          a(href='#') Gucci
                .panel.panel-default
                  .panel-heading
                    h4.panel-title
                      a(data-toggle='collapse', data-parent='#accordian', href='#womens')
                        span.badge.pull-right
                          i.fa.fa-plus
                        | 											Womens
                  #womens.panel-collapse.collapse
                    .panel-body
                      ul
                        li
                          a(href='#') Fendi
                        li
                          a(href='#') Guess
                        li
                          a(href='#') Valentino
                        li
                          a(href='#') Dior
                        li
                          a(href='#') Versace
               
                .panel.panel-default
                  .panel-heading
                    h4.panel-title
                      a(href='#') Fashion
                .panel.panel-default
                  .panel-heading
                    h4.panel-title
                      a(href='#') Households
                .panel.panel-default
                  .panel-heading
                    h4.panel-title
                      a(href='#') Interiors
                .panel.panel-default
                  .panel-heading
                    h4.panel-title
                      a(href='#') Clothing
                .panel.panel-default
                  .panel-heading
                    h4.panel-title
                      a(href='#') Bags
                .panel.panel-default
                  .panel-heading
                    h4.panel-title
                      a(href='#') Shoes






                      //////////////


                         .panel.panel-default(ng-controller="category")
                  .panel-heading(ng-repeat= "ans in records")
                    h4.panel-title
                      a(href='#')(ng-repeat= "ans in records")
                                          


////////////////////////////////////////////////////////////////////
                                           h2 Category 
              .panel-group.category-products
              
                // category-productsr
                .panel.panel-default
                  .panel-heading
                    h4.panel-title
                      a(data-toggle='collapse', data-parent='#accordian', href='#sportswear')
                        span.badge.pull-right
                          i.fa.fa-plus
                        |                       Sportswear